body {
    background-color: black;
}

#dancefloor {

    user-select: none;

    text-align: justify;
    
    background-color: black;
    color:rgb(255, 75, 246);

    width: 75%;

    margin:auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;

    /* Dance floor contains partyers*/

}

/* Partyers will either be partying or being investigated */

.partying {

    color:blueviolet;

}

.being-investigated {

    background-color: rgb(255, 255, 255);

}

/* The four horsemen of the rave: trouble maker, partyer, criminal and innocent*/

.trouble-maker {

    color: aqua;

}

.criminal {

    color: rgb(255, 0, 0);

}

.innocent {

    color: rgb(255, 0, 0);

}


#mainheader {

    font-size: 2em;
    
    font-family: 'Courier New', Courier, monospace;

    background-color: black;
    color: aqua;

    display: block;
    margin: auto;
}


