body {
    background-color: black;
}

#dancefloor {

    width: 75%;

    margin:auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;

    background-color: black;
    color:rgb(212, 55, 199);


}

#mainheader {

    font-size: 2em;
    
    font-family: 'Courier New', Courier, monospace;

    background-color: black;
    color: aqua;

    display: block;
    margin: auto;
}

.revealed {
    background-color: transparent;
    color: crimson;
    text-decoration: underline;
}

.redacted{
    background-color: black;
    user-select: none;
}



