#secret-document {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;

    display: flex;
    flex-direction: column;

}

.revealed {
    background-color: transparent;
    color: crimson;
    text-decoration: underline;
}

.redacted{
    background-color: black;
    user-select: none;
}



